/Ejemplos/nbproject/private/
/Ejemplos/build/
/Ejemplos/dist/
/Agenda/nbproject/private/
/Agenda/dist/
/Agenda/build/
/Numeros/nbproject/private/
/Numeros/dist/
/Numeros/build/
/Canvas/nbproject/private/
/Canvas/build/
/Canvas/dist/
/Prueba/nbproject/private/
/Prueba/build/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/Triangulos/nbproject/private/
/Triangulos/build/
/Triangulos/dist/
/Sonidos/nbproject/private/
/Sonidos/build/
/Sonidos/dist/
/MoverImagen/nbproject/private/
/Registros/nbproject/private/